//
   Created by damon on 6/18/16.
doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href="/angular-material/angular-material.css")
        script(src="/jquery/jquery.js")
        script(src="/bootstrap/js/bootstrap.js")
        script(src="/angular/angular.js")
        script(src="/angular-aria/angular-aria.js")
        script(src="/angular-animate/angular-animate.js")
        script(src="/angular-material/angular-material.js")
    body
        div.md-inline-form(ng-app="loginApp",ng-controller="loginCtrl",layout="column",ng-cloak)