body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* navbar */
.navbar.navbar-default {
  background-color: #00BCD4;
  border-color: #E7E7E7;
}
/* title */
.navbar.navbar-default .navbar-brand {
  color: #fff;
}
.navbar.navbar-default .navbar-brand:hover,
.navbar.navbar-default .navbar-brand:focus {
  color: #5E5E5E;
}
/* link */
.navbar.navbar-default .navbar-nav > li > a {
  color: #FFF;
}
.navbar.navbar-default .navbar-nav > li > a:hover,
.navbar.navbar-default .navbar-nav > li > a:focus {
  color: #333;
}
.navbar.navbar-default .navbar-nav > .active > a,
.navbar.navbar-default .navbar-nav > .active > a:hover,
.navbar.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #E7E7E7;
}
.navbar.navbar-default .navbar-nav > .open > a,
.navbar.navbar-default .navbar-nav > .open > a:hover,
.navbar.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #D5D5D5;
}
/* caret */
.navbar.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #777;
  border-bottom-color: #777;
}
.navbar.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #333;
  border-bottom-color: #333;
}
.navbar.navbar-default .navbar-nav > .open > a .caret,
.navbar.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #555;
  border-bottom-color: #555;
}
/* mobile version */
.navbar.navbar-default .navbar-toggle {
  border-color: #DDD;
}
.navbar.navbar-default .navbar-toggle:hover,
.navbar.navbar-default .navbar-toggle:focus {
  background-color: #DDD;
}
.navbar.navbar-default .navbar-toggle .icon-bar {
  background-color: #CCC;
}
@media (max-width: 767px) {
  .navbar.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
  }
}